html {
  font-size: 10px;
}

@font-face {
  font-family: 'Aurebesh-Droid';
  src: local('Aurebesh-Droid'), url('./fonts/Aurebesh-Droid.woff') format('woff');
}
@font-face {
  font-family: 'Conthrax';
  src: local('conthrax-sb'), url('./fonts/conthrax-sb.woff') format('woff');
}
body {
  margin: 0;
  font-family: 'Conthrax', -apple-system, BlinkMacSystemFont, 'Roboto', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color:  #000;
  /* background-color:  #111; */
  text-shadow: .125rem 0 rgba(255,0,0,.9), -.125rem 0 rgba(0,0,255,.9);
  color: #fff;
}

.default {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  color: rgba(255,255,255,.8);
}

/* body::after{
  content:'';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image:
  linear-gradient(to top, rgba(255,255,255,.2) 33.33333%, rgba(255,255,255,.4) 33.33333%, rgba(255,255,255,.4) 66.66666%, rgba(255,255,255,.6) 66.66666%),
  linear-gradient(to right, rgba(255,0,0,.7) 33.33333%, rgba(0,255,0,.7) 33.33333%, rgba(0,255,0,.7) 66.66666%, rgba(0,0,255,.7) 66.66666%);

  
  background-size: .3rem .3rem;
  mix-blend-mode: multiply;
  opacity: .6;

  pointer-events: none;;
} */

h1,h2,h3,h4,h5,h6 {
  margin: 0;
  color: #7e84e6;
}

h1 {
  font-size: 2.8rem;
}
h2 {
  font-size: 2.4rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.7rem;
}
h5 {
  font-size: 1.5rem;
}
h6 {
  font-size: 1.3rem;
}

p {
  font-size: 1.6rem;
}

#root {
  height: calc(100vh - 4.4rem);
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  /* margin: 1rem; */
}

.centered-container {
  display: flex;
  justify-content: center;;
  height: 100%;
  width: 100%;
}

.centered-container > div {
  margin: 0 1.6rem;
  box-sizing: border-box;
}

.scroll {
  overflow-y: scroll;
}

@media screen and (min-device-width: 480px) {
  #root { height: 100vh; }

  .centered-container {
    display: flex;
    width: 37.5rem;
    height: 90rem;
    justify-content: center;
    align-content: center;
  }
  
  .centered-container > div {
    margin: 0;
    width: 100%;
    box-sizing: border-box;
  }
}

.username  {
  margin-left: 1.6rem
}

.danger {
  color: #ea2d0f;
}

.aurebesh-droid {
  font-family: 'Aurebesh-Droid';
  color: #f9e1f2;
  text-shadow: .15rem 0 rgba(255,0,0,.9), -.15rem 0 rgba(0,0,255,.9), 0 0 1rem rgba(255,0,0,.5), 0 0 2rem rgba(0,0,255,.75);
}

hr {
  border: 0;
  border-bottom:  .1rem solid #26b;
}

button {
  font-family: 'Conthrax';
}

a {
  color: inherit;
  text-decoration: none;
}

a:active, a:visited {
  color: inherit;
}

input[type="range"]::-webkit-slider-runnable-track {
  background: transparent;
  height: 6rem;
}

input[type="range"]::-moz-range-track {
  background: transparent;
  height: 6rem;
}

input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;

  background-color: yellow;
  border: none;
  border-radius: 0;
  border: none;
  border-radius: 0;
  background-color: yellow;
  background-color: yellow;
  height: 6rem;
  width: 1rem;
  margin-top: -6rem;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;

  user-select: none;

  border: none;
  border-radius: 0;
  border: none;
  border-radius: 0;
  background-color: yellow;
  background-color: yellow;
  height: 6rem;
  width: 6rem;
  margin-top: 0rem;
}

#damage-progress > div {
  position: relative;
}

.bg-deco {
  position: fixed;
  z-index: 1;
  background-size: 4rem 4rem;
}

.bg-grid {
  top: -1rem;
  right: -1rem;
  bottom: -1rem;
  left: -1rem;
  background-image:
  linear-gradient(to right, rgba(0, 242, 255, 0.1) .1rem, transparent .1rem),
  linear-gradient(to bottom, rgba(0,242,255,.1)  .1rem, transparent .1rem);
}

.bg-dot {
  top: -3rem;
  right: -3rem;
  bottom: -3rem;
  left: -3rem;
  background-image: radial-gradient(circle, rgba(0,242,255,.25) .1rem, rgba(255, 255, 255, 0) .1rem);
}